
<div class="center hero-unit">
  <h1>Welcome to the Tasks App</h1>

  <h2>
    This is the home page for the
    taks application.
  </h2>

  <%= link_to "Create tasks!", new_task_path, class: "btn btn-large btn-primary" %>
</div>
